<%- include('header') %>

<div class="juros">
<form method="get" action="composto">
   
    <input class="one" name="C" type="number" placeholder="Capital Inicial">
    <input class="two" name="i" type="text" placeholder="Taxa de Juros">
    <input class="four" name="t" type="text" placeholder="Período em">
    <button class="botaofinal">clique aqui</button>
</form>
</div>

<%- include('footer') %>   